<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OpenAzureConfigurationSection" type="OpenAzure.Configuration.OpenAzureConfigurationSection,OpenAzure" />
  </configSections>
  
  <OpenAzureConfigurationSection>
    <rest version="2014-04-01" certFilePath="Certs\WuJunNote.cer"></rest>
  </OpenAzureConfigurationSection>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>